{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h1>Insertar una opción</h1>
    {% if question.choice_set.count >= 4 %}
        <div class="alert alert-danger" role="alert">
            Ya se han insertado cuatro opciones, no se pueden insertar más. 
        </div>
    {% else %}   
        {% if question.choice_set.count < 2 %}     
        <div class="alert alert-danger" role="alert">
            Se deben de introducir al menos 2 opciones. 
        </div>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        {% else %}
        <form method="POST" name="" onsubmit="return checkCorrect()" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        {% endif %}
    {% endif %}
<a href="{% url 'index' %}">Ver preguntas</a> 

{% endblock %}

