{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

{% if category_list %}
<form  method="post" class="post-form"> {% csrf_token %}
    <select class="form-control" name="selectCategory">
    {%for category in category_list %}
        <option value="{{category.category}}">{{category.category}}</option>
    {% endfor %}
    </select>
    <br />
    <input type="submit" value="Filtrar por tema" class="btn btn-default"/>
</form>
<br />
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
  
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h2>Insertar pregunta</h2></a> 
{% endif %}

{% endblock %}